{% load bootstrap4 static %}

<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap-4.4.1-dist/css/bootstrap.css' %}" />
    <script src="{% static 'jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'jquery.csrf.js' %}"></script>
    <script src="{% static 'bootstrap-4.4.1-dist/js/bootstrap.js' %}"></script>
    <style>
        body {
            padding-top: 5rem;
            padding-bottom: 2rem;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            {% if not user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}">회원가입</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}?next={{ request.get_full_path }}">로그인</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">프로필</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}?next={{ request.get_full_path }}">로그아웃</a>
                </li>
            {% endif %}
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-sm-12">

            {% bootstrap_messages %}
{#            {% if messages %}#}
{#                <div class="messages">#}
{#                    {% for message in messages %}#}
{#                        <div class="alert alert-{{ message.tags }}">#}
{#                            {{ message.message }}#}
{#                        </div>#}
{#                    {% endfor %}#}
{#                </div>#}
{#            {% endif %}#}

            {% block content %}
            {% endblock content %}

            <hr/>
            &copy; Ask Company.
        </div>
    </div>
</div>

</body>
</html>
